.JobListingCard{
  display: flex;
  width: 90%;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 3px solid red; */
  background-color: hsl(180, 31%, 95%);
  box-shadow: 3px 3px 10px hsl(180, 8%, 52%), -3px -3px 30px hsl(180, 8%, 52%);
  margin: 3rem auto;
  border-radius: 10px;
  position: relative;
}
.featured{
  /* border: 3px solid green; */
  box-shadow: -7px 0 0 rgb(78, 137, 137), 3px 3px 10px hsl(180, 8%, 52%), -3px -3px 30px hsl(180, 8%, 52%) ;
}
.JobListingCardLogo{
  /* border: 1px solid; */
  width: auto;
  padding: 2%;
  margin-right: 1%;
}
.JobListingCardDetails{
  /* border: 2px solid; */
  width: 40%;
}
.JobListingCardDetailsCompany{
  /* border: 1px solid; */
  display: flex;
  align-items: center;
}
.Company{
  color: rgb(91, 164, 164);
  font-weight: bold;
  margin-right: 3%;
}
.New{
  background-color: rgb(91, 164, 164);
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  margin-right: 3%;
}
.Featured{
  background-color:  rgb(44, 58, 58);
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  border-radius: 20px;
}
.hide{
  display: none;
}
.Role{
  color: rgb(91, 164, 164);
  font-weight: bold;
  font-size: 1.4rem;
}
.JobListingCardDetailsLocation{
  /* border: 1px solid; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.JobListingCardDetailsLocation p, li{
  color: grey;
  margin-right: 5%;
}
.JobListingCardSkills{
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  margin-left: 5%;
  position: absolute;
  right: 5%;
}

.JobListingCardSkillsRoleLevel{
  display: flex;
  /* border: 2px solid; */
}

.JobListingCardSkills p{
  background-color: rgb(224, 235, 230);
  padding: 0.3rem 1rem;
  color: rgb(91, 164, 164);
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  margin-left: 0.5rem;
}
.JobListingCardSkills p:hover{
  background-color: rgb(91, 164, 164);
  color: white;
  cursor: pointer;
}

.JobListingCardSkillsLanguages{
  /* border: 3px solid red; */
  display: flex;
  padding: 0;
}

.JobListingCardSkillsLanguages p{
  margin-right: 0;
  margin-left: 0.5rem;
}

.JobListingCardSkillsTools{
  display: flex;
}

@media screen and (max-width: 768px) {
  .JobListingCard{
    flex-direction: column;
    width: 100%;
    /* margin: 1rem auto; */
    padding: 0 1rem;
    margin: 2rem auto 5rem auto;
  
  }
  .JobListingCardLogo{
    width: 100%;
    margin: auto;
    position: relative;
    top: -50px;
    /* border: 3px solid; */
    align-items: flex-start;
  }
  .JobListingCardDetails{
    width: 100%;
    margin: auto;
    margin-top: -50px;
  }
  .Company{
    margin-right: 2rem
  }
  .Role{
    color: black;
    margin: 1rem 0;
  }
  .JobListingCardDetailsLocation{
    /* border: 3px solid; */
    display: flex;
    flex-wrap: wrap;
  }
  .JobListingCardDetailsLocation p, li{
    font-size: 1.14rem;
  }
  .JobListingCardSkills{
    position: relative;
    /* right: 20px; */
    margin-top: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .JobListingCardSkillsLanguages{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .JobListingCardSkills p{
    font-weight: 700;
    font-size: 1.3rem;
  } 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .JobListingCard{
    padding-bottom: 3.2rem;
  }
  .JobListingCardSkills{
    /* border: 3px solid red; */
    position: absolute;
    margin-top: 5%;
    top: 75px;
    left: 0;
    /* display: none; */
  }
  .Role{
    /* border: 3px solid; */
    width: 150%;
  }
  .JobListingCardDetailsLocation{
    /* border: 3px solid; */
    width: 20rem;
    position: absolute;
    bottom: 5px;
    left: 40px;
  }
}